.sw-loading-container {
  position: relative; }
  .sw-loading-container .loading:before, .sw-loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px; }
  .sw-loading-container .loading:before {
    background-color: white;
    opacity: 0.5; }
  .sw-loading-container .loading:after {
    background: url("../img/spinner.gif") no-repeat center center;
    z-index: 100; }
